body {
  padding: 0;
  margin: 0;
}

/* head section */
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feee91;
  padding-top: 7rem;
  padding-left: 7rem;
  gap: 14rem;
}

.head-img {
  width: 700px;
  border-radius: 15% 0 0 0;
}

/* profile section */
.profile-container {
  margin-block: 3.5rem;
  display: flex;
  flex-direction: column;
  padding-inline: 7rem;
}

.profile-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 270px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-divider {
  width: 100%;
  height: 5px;
  border: none;
  background-color: grey;
}

.profile-info {
  display: flex;
  /* border: 2px solid; */
  gap: 10.5rem;

  padding-left: 7rem;
}

.info {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info p {
  width: 80%;
}

/* projects section */
.project-container {
  padding: 3.5rem 7rem;
  background-color: #f6f4ed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-list {
  /* border: 2px solid red; */
  display: flex;
  gap: 3rem;
}

.project {
  /* border: 2px solid; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.project-link {
  overflow: hidden;
}

.project img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  transition: transform 0.4s ease;
}

.project-link:hover .project-img {
  transform: scale(1.05) translateY(-6px);
}

.project p {
  width: 80%;
}

/* footer container section */
.footer-container {
  /* height: 50vh; */
  /* border: 2px solid; */
  padding: 7rem;
  text-align: center;
}

.contact-button {
  background-color: #fde242;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #1f2937;
  text-decoration: none;
  display: inline-block;
}

.contact-button:hover {
  background: #facc15;
  transform: translateY(-1px);
}

.contact-button:active {
  transform: translateY(0);
}

.icons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons a {
  color: #1f2937; /* your desired color */
  text-decoration: none;
}

/* footer section */
footer {
  background-color: #feee91;
  text-align: center;
  line-height: 3.5rem;
}

footer p {
  margin: 0;
}
