/* head section */
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feee91;
  padding-top: 7rem;
  padding-left: 7rem;
  gap: 14rem;
}

.head-img {
  width: 700px;
  border-radius: 15% 0 0 0;
}

/* profile section */
.profile-container {
  margin-block: 3.5rem;
  display: flex;
  flex-direction: column;
  padding-inline: 7rem;
}

.profile-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 270px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-divider {
  width: 100%;
  height: 5px;
  border: none;
  background-color: grey;
}

.profile-info {
  display: flex;
  /* border: 2px solid; */
  gap: 10.5rem;
  
  padding-left: 7rem;
}

.info {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info p {
  width: 80%;
}

/* projects section */
.project-container {
  padding: 3.5rem 7rem;
  background-color: #f6f4ed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-list {
  /* border: 2px solid red; */
  display: flex;
  gap: 3rem;
}

.project {
  /* border: 2px solid; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.project img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
}

.project p {
  width: 80%;
}
